{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'issue-grid' %}
{% set pageTitle = 'oro.tracker.issue.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class: entity_class,
        exportProcessor: 'oro_tracker_issue_processor',
        exportTemplateProcessor: 'oro_tracker_issue_processor',
        importProcessor: 'oro_tracker_issue_processor',
        importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'oro.tracker.issue.entity_plural_label'|trans}),
        dataGridName: gridName
    } %}

    {% if resource_granted('orotracker_issue_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orotracker_issue_create'),
                'entity_label': 'oro.tracker.issue.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
